{
  "presets": [
    ["env", {
      "modules": false,
      "targets": {
        "browsers": ["> 1%", "last 2 versions", "not ie <= 8"]
      }
    }],
    "stage-2"
  ],
  "plugins": ["transform-remove-strict-mode"]//解除严格模式，将transform-vue。jsx。transform-runtime去掉
}
